
.container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  & > *:not(:first-child) {
    padding-top: 8px;
  }

  @media (max-width: 428px) {
    width: 100%;
  }
}
